.article-container {
  max-width: 90%;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto; }

/* Quotes */
.dark blockquote {
  padding: 0.5rem 1rem;
  margin: 0.8rem 0;
  /*  color: #7a7a7a; */
  color: #ffffdd;
  border-left: 0.25rem solid #e5e5e5; }

.article-style {
    text-align: justify;
}

.description {
    text-align: justify;
}

.new-fa-li {
  position: absolute;
  left: -2.14285714rem;
  /* Negative of `.wg-contact .fa-ul` margin. */
  width: 2rem;
  /* Match `fa-2x` icon size. */
  top: 0.14285714em;
  /* Default FA value. */
  text-align: center; }

.docs-toc {
  text-align: left;
}
